<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<h2 class="center-align">Battle of the Sexes</h2>
	<h3>{{ agent }}<h3>
	<div class="row">
		<table>
			<tbody>
				<tr>
					<td>
					<td>They go to the Opera</td>
					<td>They go to the Game</td>
				</tr>
				<tr>
					<td>You go to the Opera</td>
					<td>3, 2</td>
					<td>1, 1</td>
				</tr>
				<tr>
					<td>You go to the Game</td>
					<td>0, 0</td>
					<td>2, 3</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<form action="" method = "POST">
		    {% csrf_token %}
			<div class="col l4"></div>
			<div class="col l2">
				<button class='btn' type="submit" name="move" value="opera">Opera</button>
			</div>
			<div class="col l2">
				<button class='btn' type="submit" name="move" value="game">Game</button>
			</div>
			<div class="col l4"></div>
		</form>
	</div>


</body>
