<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<h2 class="center-align">Hawk Dove</h2>
	<div class="row">
		<div class="col l4"></div>
		<div class="col l2">
			<p>Their Score: 12</p>
		</div>
		<div class="col l2">
			<p>Your Score: 8</p>
		</div>
		<div class="col l4"></div>
	</div>
	<div class="row">
		<table>
			<tbody>
				<tr>
					<td>
					<td>They Attack</td>
					<td>They Stay Peaceful</td>
				</tr>
				<tr>
					<td>You Attack</td>
					<td>-2, -2</td>
					<td>1, -1</td>
				</tr>
				<tr>
					<td>You Stay Peaceful</td>
					<td>-1, 1</td>
					<td>0, 0</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col l4"></div>
		<div class="col l2">
			<button class='btn'>Attack</button>
		</div>
		<div class="col l2">
			<button class='btn'>Peaceful</button>
		</div>
		<div class="col l4"></div>
	</div>


</body>
