<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<h2 class="center-align">Prisoner's Dilemma</h2>
	<div class="row">
		<table>
			<tbody>
				<tr>
					<td>
					<td>You Cooperate</td>
					<td>You Defect</td>
				</tr>
				<tr>
					<td>They Cooperate</td>
					<td>-1, -1</td>
					<td>-3, 0</td>
				</tr>
				<tr>
					<td>They Defect</td>
					<td>0, -3</td>
					<td>-2, -2</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col l4"></div>
		<div class="col l2">
			<button class='btn'>Cooperate</button>
		</div>
		<div class="col l2">
			<button class='btn'>Defect</button>
		</div>
		<div class="col l4"></div>
		<!-- <video controls src="https://www.dropbox.com/s/gcy9m5j6sn44dpk/janet%20wilson%20-%20Nationals%202014%20-%20Congress%20House%20Part%201-3789988776001%28021711.887-022014.888%29.mp4?dl=0"></video> -->
	</div>


</body>
